body {
  margin: 0;
  padding: 0;
}

.App {
  background-color: #181818;
  min-height: 100vh;
}
/* Dashboard */
.video-grid {
  color: white;
}

/* Genre List */
.tool-bar {
  background-color: #202020;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.genre-btn {
  color: rgba(255, 255, 255, 0.87);
  margin: 10px;
  padding: 7px 14px;
  border-radius: 20px;
  cursor: pointer;
  white-space: nowrap;
}

.active-toolbar-button.genre-btn {
  color: #000;
  background-color: rgba(255, 255, 255, 0.87);
}

.genre-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.active-toolbar-button.genre-btn:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

/* Explore */
.preview-image {
  width: 100%;
}

@media (min-width: 768px) {
  /* To make images take up equal height in a row */
  .preview-image {
    height: 150px;
    object-fit: cover;
  }
}
